body {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #e67e22;
  color: #fff;
  text-align: center;

}

div[ch-scope="listScope"], div[ch-scope="targetScope"] {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 25px;
  overflow: auto;
}

div[ch-scope="listScope"] {
  display: table;
  height: 100%;
}

div[ch-scope="targetScope"] {
  background: #000;
}

#list-wrapper {
  display: table-cell;
  vertical-align: middle;
  font-size: 35px;
}

#list {
  padding-top: 20px;
  padding-bottom: 20px;
  height: 100%;
  overflow: auto;
}

.list-item {
  background: #d35400;
  padding: 10px;
  margin: 5px;
  cursor: pointer;
}

#wrapper {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 20px;
  background: #e67e22;
  display: table;
  height: 100%;
}

#target {
  display: table-cell;
  vertical-align: middle;
  margin-top: 30px;
  font-size: 55px;
}

.btn {
  position: fixed;
  z-index: 20;
  top: -20px;
  right: 15px;
  cursor: pointer;
  border: 1px solid #fff;
  border-radius: 60px;
  margin-top: 30px;
  height: 35px;
  width: 35px;
}

#info {
  position: fixed;
  z-index: 30;
  top: 0px;
  left: 10px;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
}